$primaryColor: #4527a4;

.bBlocksInspectorInfo {
	padding: 6px;

	a {
		text-decoration: none;
		font-weight: 700;
	}
}

.wp-block-b-blocks-team-section-beta {
	.selectHelp {
		color: #616063;
	}

	.btms-icon-lib {
		.components-button.has-icon {
			span {
				color: #395a08;
			}

			font-size: 2px;
			width: 10px;
			height: 20px;
			background: none;
		}

	}

	.btms-social-panel {
		margin-bottom: 1rem;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
		padding: 10px;
		border-radius: 2px;
		border: 1px solid #ddd;
		transition: all .3s ease;


	}

	.btms-social-panel:hover {
		box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
	}

	.btms-control-panel-svg {
		border: 1px solid #ddd;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3px;

		svg {
			height: 15px;
			width: 15px;

		}
	}
}